#reservation-card {
    width: 40%;
    height: 22rem;
    padding: 20px;
    margin: 2rem 1rem;
    border: black solid 1px;
    border-radius: 2rem;
    background-color: #EBF3F3;
}

#card-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
}

#card-label {
    color: #7C7C9C;
    margin-left: 1rem;
}

#card-text {
    margin-left: 1rem;
}