#whole-card {
  background: #ffffff url("../photos/to-down-table.jpg") no-repeat top;
  height: 50%;
  width: 18rem;
  margin: 4rem 1rem 0 0;
  padding: 1rem;
  border: black solid 1px;
  border-radius: 50%;
}

#table-name {
  width: fit-content;
  margin: 1.5rem 0 0 0;
  font-size: 1.25rem;
  font-weight: 500;
  border-bottom: #111827 solid 1px;
}

ul {
    padding:0;
}

#table-info {
  margin-top: 0.75rem;
  text-align: center;
  list-style: none;
  font-weight: 400;
}

#table-info-value {
    font-size: 1.1rem;
    margin-left: 10px;
}

#finish-btn {
  margin-top: 10px;
  width: 50%;
  background-color: #e9e2be8a;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#finish-btn:hover {
  background-color: rgb(249, 250, 251);
}

#finish-btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#finish-btn:focus-visible {
  box-shadow: none;
}
