#form-title {
    font-family: "Racing Sans One";
    font-size: 2rem;
    margin: 2rem;
}

form label {
    padding-left: 30px;
    font-size: 1.1rem;
    font-weight: 500;
}

form input {
    margin-right: 3rem;
}